<%= form_with(model: categoly, local: true) do |form| %>
  <% if categoly.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(categoly.errors.count, "error") %> prohibited this categoly from being saved:</h2>

      <ul>
      <% categoly.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :categoly_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :categoly_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
