<%= form_with(model: todo, local: true) do |form| %>
  <% if todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo.errors.count, "個") %> エラーがあります:</h2>

      <ul>
      <% todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :todo_title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :todo_body %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status, id: :todo_status %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.number_field :priority, id: :todo_priority %>
  </div>

  <div class="field">
    <%= form.label :categoly %>
    <% @categolies = Categoly.all %>
    <%= form.select :categoly_id, @categolies.map{|t| [t.name, t.id]}, include_blank: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
